[Desktop Entry]
Name=Blue-X-ray-Eraser
Comment=파일 완전삭제 프로그램
GenericName=Blue-X-ray-Eraser
Exec=/usr/bin/bxr_eraser
Icon=/usr/share/icons/eraser/resource/main_blue_64.ico
Type=Application
StartupNotify=false
Categories=Utility;
Actions=new-empty-window;
Keywords=Blue-X-ray-Eraser;
Name[ko_KR]=Blue-X-ray-Eraser
